
ul{list-style-type: none;}

html{
    text-align: center;
    background-color: aliceblue;
}

h1,h2{

    background-color: gray;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: white;    
}

h1:hover,h2:hover{

background-color:rgb(36, 31, 31);
color:white ;
font-size: 50px;
font-family: cursive; 

}

.grid-item{

    overflow: hidden;
}

#grid-floats::after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
    
}



#grid-floats li:nth-child(1){ 
    width:44.5%;
    height:400px;
    
}


#grid-floats li:nth-child(n+2):nth-child(-n-14){
    
    width:25%;
    height: 400px;

}


#grid-floats .grid-item { 
    float: left;
    margin: 10px ;
    padding: 20px;
    border:5px solid grey;
    width:20%;
    background-color: white;
    overflow:fixed;
    height: 400px;
}


img { 
    width: 50%;
    display:inline-block;
   }




@media screen and (max-width: 1024px) and (min-width:768px) {
    
    #grid-floats li:nth-child(-n+2){  
        width: 250px;
        height: 300px;
}
  
}


/*
@media screen and (max-width: 480px) and (min-width:320px) { 
    
    #grid-floats li:nth-child(1){  
        width: 160px;
}
  
}
*/

@media screen and (max-width:420px) {

    #grid-floats li:nth-child(1){
        width:200px;
        height:290px ;
        
    }
}

@media screen and (max-width: 500px) {
    #grid-floats li:nth-child(n+2):nth-child(-n+14){

        width:65px;
        height:730px;

    }
}


#grid-flex{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: auto;
      
}



#grid-flex .grid-item{
    
    margin: 10px ;
    padding: 10px;
    border:5px solid gray;
    width: 20%;
    background-color: white;
    overflow: fixed;
    height: 450px;
   
}
/*#grid-floats li:nth-child(1){ width:40%;height:400px ;}


#grid-floats li:nth-child(n+2):nth-child(-n-14){width:25%;height: 400px;}*/



#grid-flex li:nth-child(1) {
    width: 630px;
}
#grid-flex li:nth-child(n+2):nth-child(-n-14){
    
    width:50%;height: 400px;}



    @media screen and (max-width: 1024px) and (min-width:768px) {
    
        #grid-flex li:nth-child(-n+2){  
            width: 240px;
            height:280px;
    }
      
    }
   
    
    /*@media screen and (max-width: 480px) and (min-width:320px) {
        
        #grid-flex li:nth-child(1){  
            width: 160px;
    }
      
    }*/
    
    @media screen and (max-width:420px) {
    
        #grid-flex li:nth-child(1){
            width:225px;
            height:300px ;
            
        }
    }
    
    @media screen and (max-width: 500px) {
        #grid-flex li:nth-child(n+2):nth-child(-n+14){
    
            width:85px;
            height:610px;
    
        }
    }
    
        